.sidebar {
  background-color: #ffffff;
  min-width: 200px;
  height: 100vh;
  box-sizing: border-box;
  border-color: #d9d9d9;
  border-width: 5px;
  letter-spacing: 0.9px;
  margin-left: 400px;
}

.logo {
  width: 100%;
  margin-bottom: 20px;
}

.nav ul {
  list-style: none;
  margin-top: 30px;
  padding: 0px;
}

.nav li {
  padding-bottom: 0px;
  padding: 5px;
}

.nav li a {
  text-decoration: none;
  color: #979797;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 400;

  padding: 0px 15px 0px 15px;
}

.nav li a {
  display: flex;
  column-gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}

.nav li.active a,
.nav li a:hover {
  color: #717171;
  background-color: rgb(227, 227, 227);
}
