.right-now-container {
  left: 0px;
  top: 0px;
  padding-top: 40px;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.right-now-container__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.right-now-container__content__student-lists {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.right-now-container__metrics-container {
  margin-top: 14px;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 15px;
  filter: drop-shadow(0px 5px 0px #c8c8c8);
}
