.StudentList {
  border-radius: 15px;
  background: #f5f5f5;
  filter: drop-shadow(0px 5px 0px #c8c8c8);
  font-family: Arial, sans-serif;
  flex-grow: 1; /* This will allow the StudentList to take up the remaining space */
  min-width: 400px; /* You can adjust this as needed */
  margin-left: 5px;
  height: 450px;
}

.StudentList > strong > p {
  text-align: left;
  margin: 5px 5px 5px 14px;
}

.StudentList_present {
  color: rgb(34, 145, 53);
}

.StudentList_absent {
  color: rgb(206, 59, 59);
}
